<h3 class="ui header">{{t "forms.i-i-s-postamat16-ключ-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сгенКлюч
      class=(if (v-get validationModel "сгенКлюч" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat16-ключ-e.сгенКлюч-caption")
      data-test-i-i-s-postamat16-ключ-e-сгенКлюч=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сгенКлюч" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.уведомление
      class=(if (v-get validationModel "уведомление" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat16-ключ-e.уведомление-caption")
      data-test-i-i-s-postamat16-ключ-e-уведомление=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "уведомление" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat16-ключ-e.фИО-caption")
      data-test-i-i-s-postamat16-ключ-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat16-ключ-e.номер-caption")
      data-test-i-i-s-postamat16-ключ-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat16-ключ-e.пользователь-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.пользователь
      displayAttributeName="фИО"
      autocomplete=true
      relationName="пользователь"
      projection="ПользовательL"
      title=(t "forms.i-i-s-postamat16-ключ-e.пользователь-caption")
      readonly=readonly
      componentName="пользовательLookup"
      class=(if (v-get validationModel "пользователь" "isInvalid") "error")
      data-test-i-i-s-postamat16-ключ-e-пользователь=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пользователь" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.пользователь.номерТелефона
      class=(if (v-get validationModel.пользователь "номерТелефона" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat16-ключ-e.пользователь.номерТелефона-caption")
      data-test-i-i-s-postamat16-ключ-e-пользователь-номерТелефона=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.пользователь "номерТелефона" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat16-ключ-e.посылка-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.посылка
      displayAttributeName="номер"
      autocomplete=true
      relationName="посылка"
      projection="ПосылкаL"
      title=(t "forms.i-i-s-postamat16-ключ-e.посылка-caption")
      readonly=readonly
      componentName="посылкаLookup"
      class=(if (v-get validationModel "посылка" "isInvalid") "error")
      data-test-i-i-s-postamat16-ключ-e-посылка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "посылка" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat16-ключ-e.хранение-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.хранение
      displayAttributeName="продления"
      autocomplete=true
      relationName="хранение"
      projection="ХранениеL"
      title=(t "forms.i-i-s-postamat16-ключ-e.хранение-caption")
      readonly=readonly
      componentName="хранениеLookup"
      class=(if (v-get validationModel "хранение" "isInvalid") "error")
      data-test-i-i-s-postamat16-ключ-e-хранение=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "хранение" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat16-ключ-e.хранение.датаНачала-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=true
      value=model.хранение.датаНачала
      class=(if (v-get validationModel.хранение "датаНачала" "isInvalid") "error")
      data-test-i-i-s-postamat16-ключ-e-хранение-датаНачала=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.хранение "датаНачала" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat16-ключ-e.хранение.датаЗавершения-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=true
      value=model.хранение.датаЗавершения
      class=(if (v-get validationModel.хранение "датаЗавершения" "isInvalid") "error")
      data-test-i-i-s-postamat16-ключ-e-хранение-датаЗавершения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.хранение "датаЗавершения" "message")}}
  </div>
</form>
